html {
  overflow-x: hidden;
}

body {
  min-width: 100vw;
  min-height: 80vh - 50px;
  background-color: black;
  padding-top: 20vh;
}

h1, h2, a {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

h1 {
  font-size: 30pt;
}

a {
  font-size: 22px;
  color:darkkhaki;
}